html{
    background-color: midnightblue;
    overflow-x: hidden;
    overflow-y: hidden;
}

.app-div {
    display: flex;
    height:100vh;
}
  
.app-center {
    margin: 0 auto;
    align-self: center;
    width: 25vw;
}

.app-bank-logo{
    display: block;
    margin-left: -8px;
    width: 100%;
    margin-bottom:80px;
}

.app-bank-icon{
    display: block;
    margin-left: 40px;
    width: 50%;
    margin-bottom:40px;
}