.form-amount{
    margin:0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;

}

.form-to{
    margin:0 auto;
    margin-top:100px;
}

.form-message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin:0 auto;
    width: 177px;
    height: 80px;
    resize: none;
    margin-top:40px;
    margin-bottom:40px;
}

.send-heading{
    margin-bottom:100px;
}