.center{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-self:center;
}

.center-b{
    margin: 0 auto;
    margin-bottom: -500px;
    align-self: center;
    font-weight: bold;
}

.form-amount{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    text-align: center;
    margin-top:50px;
    margin-bottom:50px;
}

.form-to{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    text-align: left;
    margin-bottom:20px;
}

.form-message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    width: 159px;
    height: 80px;
    resize: none;
}

.send-money-button{
    margin: 0 auto;
    margin-top:20px;
    display: flex;
    justify-content: center;
}